@import 'tailwindcss';

/* ... */

@plugin 'tailwind-scrollbar'{
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

* {
  @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libertinus+Serif+Display&family=PT+Serif+Caption:ital@0;1&family=Tangerine:wght@400;700&display=swap");
}

@theme {
  --color-highlight-text: #b74b4b;
  --color-background: #000000;
  --color-primary-text: #ffffff;
  --color-active: #ff6b6b;
}
