@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libertinus+Serif+Display&family=PT+Serif+Caption:ital@0;1&family=Tangerine:wght@400;700&display=swap");
}
:root{
   /* dark mode */
  --background: #0E3D04;
  --primary-green: #155B07;
  --primary-text: #E6E6E6;
  --secondary-text: #A6A6A6; 
  --borders: #1F1F1F;
  --active-element: #4CAF50;
  --buttons: #2E7D1A;
}
/* .main{
  background-color: var(--background);
  color: var(--secondary-text);
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: rgb(4, 248, 4);
}
.nav{
  background: rgb(251, 253, 251);
  display: flex;

}
.navpage{
  text-decoration: none;
} */
